a {
  font-size: 1.5rem;
}

.brand {
  font-size: 2rem;
}

.navbar {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

input {
  width: 10rem;
}

img {
  border-radius: 45%;
}

li {
  cursor: pointer;
}

a {
  max-width: 20%;
  text-decoration: none;
}

/* .navbar {
  min-width: 100%;
  max-height: 5rem;
} */

.logo {
  max-width: 4rem;
  max-height: 5rem;
}


.profileMenu {
  font-size: medium;
}

.btn-profile {
 background-color:  #178ea3;
}
