<nav class="navbar navbar-expand-lg bg-body-tertiary p-0 m-0">
  <div class="container-fluid ps-4 pe-0 m-0 d-flex header">
    <div class="col-4">
      <app-search></app-search>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa fa-bars text-bg-light"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 d-flex justify-content-end">
        <li class="nav-item d-flex ">
          <a href="#" class="d-flex flex-row">
            <p *ngIf="user" class="text-white mb-0 align-self-end">{{ user.email }}</p>
            <img src="../../../assets/images/no-image.png" alt="Avatar image" class="img-fluid">
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-white" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Pricing</a>
        </li>  -->
      </ul>
    </div>
  </div>
</nav>
