<button type="button" class="btn btn-primary m-2" (click)="showMenu()">Add New</button>

<ul aria-expanded="false" class="dropdown-menu dropdown-menu-right ms-5" [ngClass]="classShowMenu">
  <li><button tye="button" class="modal-menu-btn mt-3" (click)="showModal()">Record</button></li>
  <li class="divider"></li>
  <li><button href="" class="modal-menu-btn">Folder</button></li>
  <li class="divider"></li>
  <li><button href="" class="modal-menu-btn mb-3">Vault</button></li>
</ul>

<div id="modal">
  <form [formGroup]="form" class="d-flex flex-column justify-content-around h-100">
    <h2 class="text-center">Add New Record</h2>
    <div class="form-group d-flex flex-column justify-content-around">
      <input type="text" class="form-control bg-transparent input" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="Enter Record Name" formControlName="name">
      <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        <span *ngIf="form.get('name')?.errors" class="error text-danger">Name is required</span>
      </span>
    </div>
    <div class="d-flex flex-row justify-content-center mt-2">
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary me-3" (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
    </div>
  </form>
</div>
