/* .modal-open {
  overflow: hidden;
  pointer-events: none;
}

.modal-open #modal {
  pointer-events: auto; 
} */

#modal {
  position: fixed;
  display: none;
  z-index: 1000;
  left: 30%;
  top: 30%;
  width: 40%;
  height: 40%;
  padding: 2rem;
  overflow: auto;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  backdrop-filter: blur(5px) !important;
  box-shadow: 0 10px 10px;
  }

  form {
    border-radius: 2%;
    padding: 0.2rem;
  }

  input::placeholder {
    color: black;
    opacity: .75;
  }

  .input {
    border: 0;
    border-bottom: 1px solid black;
  }


