<app-loading *ngIf="loading" ></app-loading>
<div *ngIf="!loading" class="login">
  <form [formGroup]="form" class="custom-form" method="post">
    <h1>Secures Pass</h1>
    <input
      type="email"
      formControlName="email"
      placeholder="Email"

    />
    <!-- <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <span *ngIf="form.get('email')?.errors" class="error text-danger">Email is invalid</span>
    </span> -->
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
      [class]=""
    />
    <!-- <span *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      <span *ngIf="form.get('password')?.errors" class="error text-danger">Password is required</span>
    </span> -->
    <button type="submit" (click)="login()" (keypress)="login()">Log in</button>
    <p class="mt-3">
      <a [routerLink]="'/register'" class="link-light link-underline-opacity-0 register">Register <i class="fa fa-arrow-circle-right ms-1"></i></a>
    </p>
  </form>
</div>
