<app-loading *ngIf="loading" ></app-loading>
<div *ngIf="!loading" class="login">
  <form [formGroup]="form" class="custom-form" method="post">
    <h1>Secures Pass</h1>
    <input
      type="email"
      formControlName="email"
      placeholder="Email"

    />
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
    />
    <button type="submit" (click)="login()" (keypress)="login()">Log in</button>
    <p>
      <a [routerLink]="'/register'">Register</a>
    </p>
  </form>
</div>
