<div class="row ms-3 mt-2">
  <div class="col-6">
    <div class="list-group" id="list-tab" role="tablist" #list>
      <a *ngFor="let record of recordList" class="list-group-item list-group-item-action" [id]="record.id" data-toggle="list" [href]="'#' + record.name + record.id" role="tab" aria-controls="home" (click)="setActive($event, list, contentList, record)">{{ record.name }}</a>
    </div>
  </div>
  <div class="col-6">
    <div class="tab-content" id="nav-tabContent" #contentList>
      <div *ngFor="let record of recordList" class="tab-pane fade" [id]="record.name + record.id" role="tabpanel" aria-labelledby="list-home-list"><app-form></app-form></div>
    </div>
  </div>
</div>
