<div class="page-wrapper chiller-theme toggled p-0 m-0 col-12 bg-dark">
  <a class="btn btn-sm btn-dark menu-button" href="#" (click)="setDisplay()">
    <i class="fas fa-bars"></i>
  </a>
  <nav *ngIf="isExpanded" id="sidebar" class="sidebar-wrapper w-25">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Secure Pass</a>
        <div id="close-sidebar">
          <a class="link" href="#" (click)="setDisplay()">
            <i class="fas fa-times"></i>
            <!-- <i *ngIf="!isExpanded" class="fa-regular fa-bars bg-dark text-white"></i> -->
          </a>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append align-self-center">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Vaults</span>
          </li>
          <li class="sidebar-dropdown">
            <a [routerLink]="" (click)="showMenu(dashboard)">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
              <span *ngIf="false" class="badge badge-pill badge-warning">New</span>
            </a>
            <div class="sidebar-submenu" #dashboard>
              <ul>
                <li>
                  <a href="#">Dashboard 1</a>
                </li>
                <li>
                  <a href="#">Dashboard 2</a>
                </li>
                <li>
                  <a href="#">Dashboard 3</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a [routerLink]="" (click)="showMenu(ecommerce)">
              <i class="fa fa-shopping-cart"></i>
              <span>E-commerce</span>
              <span *ngIf="false" class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu" #ecommerce>
              <ul>
                <li>
                  <a href="#">Products

                  </a>
                </li>
                <li>
                  <a href="#">Orders</a>
                </li>
                <li>
                  <a href="#">Credit cart</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
    </div>
  </nav>

</div>
