button:hover {
  background: #92d2f1;
  border-color: #92d2f1;
  cursor: pointer;
}

.relative {
  position: relative;
}

.icons {
  position: absolute;
  top: 20%;
  right: 2%;
  cursor: pointer;
}

.icons button {
  border: none;
  background: none;
  margin-left: 1rem;
}

form {
  background-color: rgba(114, 112, 112, 0.75);
}
