button:hover {
  background: #92d2f1;
  border-color: #92d2f1;
  cursor: pointer;
}

.relative {
  position: relative;
}

.fa {
  position: absolute;
  top: 35%;
  right: 5%;
  cursor: pointer;
}

form {
  background-color: rgba(114, 112, 112, 0.75);
}
